{% extends 'base.html' %}

{% block body %}

<p>Hello {{user_name}},</p>

<p>
  Welcome to Message IT! My name is Arnrow, and I am your partner success
  manager at PERTS. We may have been in touch regarding C-SET and I look forward
  to supporting you as you seek to improve your messages to students with
  Message IT. As always, feel free to contact me at copilot@perts.net or
  schedule a call on
  <a href="https://calendly.com/arnrowatperts/officehours?month=2020-05"
    >perts.net/officehours</a
  >
  for any questions or feedback about the program.
</p>

<p>I look forward to hearing from you.</p>

<p>
  Warmest,
  <br />
  Arnrow
</p>

{% endblock %}
