{% extends 'base.html' %}

{% block body %}

<p>Hello {{user_name}},</p>

<p>
  Welcome to the Engagement Project! My name is Arnrow, and I am your partner
  success manager at PERTS. It’s my job to support you as you implement the
  Engagement Project. I’m excited to help you in any way I can. Do you have any
  questions about the program or how implementation might look at your school or
  district?
</p>

<p>
  If you’re planning to implement the Engagement Project with more than 8
  teachers, please let me know. I can set up more advanced features that could
  be helpful to you (like communities).
</p>

<p>Looking forward to hearing from you.</p>

<p>
  Warmest,<br />
  Arnrow
</p>

{% endblock %}
