<!Doctype html>
<html>
  <head>
    <title>Triton</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

$(function () {

  'use strict';

  var neptuneProtocol = '{{ neptune_protocol }}';
  var neptuneDomain = '{{ neptune_domain }}';
  var urlPrefix = neptuneProtocol + '://' + neptuneDomain;

  var user;
  var jwtHeader = 'Bearer {{token}}';

  $('#user-form').submit(function () {
    var form = $(this);

    // This post "consumes" the token in the URL from Neptune's perspective.
    // We'll need to make another call to accomplish the same thing for Triton.
    $.post({
      url: form.attr('action'),
      data: form.serialize(),
      headers: { Authorization: jwtHeader },
      success: function (response, textStatus, jqXHR) {
        $('#form-response').html(JSON.stringify(response));
      },
      complete: function (jqXHR, textStatus) {
        jwtHeader = jqXHR.getResponseHeader('Authorization');
      },
    });

    // This get "consumes" the token in the URL from Triton's perspective so
    // that if the user visits this link again it will show as used.
    $.get({
      url: '/api/version',
      headers: { Authorization: jwtHeader },
    });

    return false;
  });

});

    </script>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <legend>User Details</legend>
        <form id="user-form"
              action="{{neptune_protocol}}://{{neptune_domain}}/api/set_password"
              method="POST"
        >
          <input type="password" name="password">
          <button type="submit">Submit</button>
        </form>
      </fieldset>
      <p>Server response: <strong id="form-response"></strong></p>
    </div>
  </body>
</html>
